<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/header.ejs') %>

<body>
    <!--Navbar start-->
    <%- include('../partials/navbar.ejs') %>
    <!--Navbar end-->
    <h1 style="padding: 10px 10px 10px;">Create message:</h1>
    <form action="" method="post">
        <div class="inputMsg">
            <div class="text"><input class="type" type="text" placeholder="Text" name="text"></div>
            <!-- <div class="author">Author: Mario Kozul</div>
            <div class="date">Date: 203210391013</div> -->
            <div class="delete"><button type="submit">Create</button></div>
        </div>
    </form>
    
    <!--Footer start-->
    <%- include('../partials/footer.ejs') %>
    <!--Footer end-->
</body>
</html>