<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/header.ejs') %>

<body>
    <!--Navbar start-->
    <%- include('./partials/navbar.ejs') %>
    <!--Navbar end-->
    <h1 style="padding: 10px 10px 10px;">Messages</h1>
    
    <div class="message">
        <div class="text">TextTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsjelTextdjfhskjhfslhgusdhfkglsdjfklsj</div>
        <div class="author">Author: Mario Kozul</div>
        <div class="date">Date: 203210391013</div>
        <div class="delete"><a href="#">Delete</a></div>
    </div>
    <!--Footer start-->
    <%- include('./partials/footer.ejs') %>
    <!--Footer end-->
</body>
</html>