<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Authenticated</title>
    <link rel="stylesheet" href="/notAuth.css">
</head>
<body>
    <div class="container">
        <p>You are not authenticated</p>
        <a href="/log-in">Log in</a>
        <a href="/sign-up">Sign up</a>
    </div>
</body>
</html>